name: provision

on:
  push:
    branches:
    - main
  workflow_dispatch:
    inputs:
      filename:
        description: 'which file to check'
        default: 'README.md'
        required: true
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: create infra
      uses: yhwang/infra-provisioner@v1.1
      with:
        api-key: ${{ secrets.API_KEY }}
        region: ${{ secrets.REGION }}
        org: ${{ secrets.ORG }}
        space: ${{ secrets.SPACE }}
        resource: ${{ secrets.RESOURCE }}
        commit: ${{ GITHUB_SHA }}
        filename: ${{ inputs.filename }}
